# Storytelling with Data! in Altair

by Maisa de Oliveira Fraiz

## Introduction

This project aims to replicate the examples from Cole Nussbaumer's book, "Storytelling with Data - Let's Practice!", using `Python Altair`. Our primary objective is to document the reasoning behind the modifications proposed by the author, while also highlighting the challenges that arise when transitioning from the book's Excel-based approach to programming in a different software environment.

`Altair` was selected for this project due to its declarative syntax, interactivity, grammar of graphics, and compatibility with `Streamlit` and other web formatting tools, while within the user-friendly Python environment. Anticipated challenges include the comparatively smaller documentation and development community of Altair compared to more established libraries like `Matplotlib`, `Seaborn`, or `Plotly`. Furthermore, tasks that might appear straightforward in Excel may require multiple iterations to translate effectively into the language.

## Imports

In [1]:
import pandas as pd
import numpy as np
import altair as alt

## Chapter 6 - tell a story

*Data in a spreadsheet or facts on a slide aren’t things that naturally stick with
us—they are easily forgotten. Stories, on the other hand, are memorable.*

### Exercise 6 - differentiate between live & standalone stories

The data for this exercise can be found here: https://www.storytellingwithdata.com/letspractice/downloads

In [14]:
table = pd.read_excel(r"..\..\Data\6.6 EXERCISE.xlsx", usecols = [2, 3, 4, 5, 6, 7], header = 4, skipfooter = 5)

table

   Unnamed: 2 Unnamed: 3  Internal  External  Overall  Goal
0         Jan 2019-01-01      47.6      44.8    45.05    60
1         Feb 2019-02-01      37.9      48.5    47.25    60
2         Mar 2019-03-01      17.6      49.5    46.15    60
3         Apr 2019-04-01      18.6      55.2    50.35    60
4         May 2019-05-01      40.6      56.5    55.55    60
5         Jun 2019-06-01      28.8      60.7    53.85    60
6         Jul 2019-07-01      27.1      44.2    42.85    60
7         Aug 2019-08-01      36.9      29.0    31.15    60
8         Sep 2019-09-01      37.1      61.2    59.15    60
9         Oct 2019-10-01      25.9      44.9    41.55    60
10        Nov 2019-11-01      51.2      76.6    71.85    60
11        Dec 2019-12-01      40.6      34.7    36.15    60

![Alt text](\Images\6_6a.png)

![Alt text](\Images\6_6b.png)

![Alt text](\Images\6_6c.png)

![Alt text](\Images\6_6d.png)

![Alt text](\Images\6_6e.png)

![Alt text](\Images\6_6f.png)

![Alt text](\Images\6_6g.png)

![Alt text](\Images\6_6h.png)

![Alt text](\Images\6_6i.png)

![Alt text](\Images\6_6j.png)

![Alt text](\Images\6_6k.png)

![Alt text](\Images\6_6l.png)

![Alt text](\Images\6_6m.png)

![Alt text](\Images\6_6n.png)