# Storytelling with Data! in Altair

by Maisa de Oliveira Fraiz

## Introduction

This project aims to replicate the examples from Cole Nussbaumer's book, "Storytelling with Data - Let's Practice!", using `Python Altair`. Our primary objective is to document the reasoning behind the modifications proposed by the author, while also highlighting the challenges that arise when transitioning from the book's Excel-based approach to programming in a different software environment.

`Altair` was selected for this project due to its declarative syntax, interactivity, grammar of graphics, and compatibility with `Streamlit` and other web formatting tools, while within the user-friendly Python environment. Anticipated challenges include the comparatively smaller documentation and development community of Altair compared to more established libraries like `Matplotlib`, `Seaborn`, or `Plotly`. Furthermore, tasks that might appear straightforward in Excel may require multiple iterations to translate effectively into the language.

## Imports

In [2]:
import pandas as pd
import numpy as np
import altair as alt

## Chapter 3 - Identify and Eliminate Cluster

The primary goal of this chapter is to provide the reader with insights into identifying valuable information within their graph while also addressing the issue of eliminating clusters.

### Exercise 3.4 - declutter!

The data for this exercise can be found here: https://www.storytellingwithdata.com/letspractice/downloads

In [13]:
# Loading considering the NaN caused by Excel formatting
table = pd.read_excel(r"..\..\Data\3.4 EXERCISE.xlsx", usecols = [1, 2, 3], header = 4, skipfooter = 6)
table

   Unnamed: 1  Direct Sales  Indirect Sales
0  2019-01-01          88.2            82.2
1  2019-02-01          76.3            71.4
2  2019-03-01          47.8            88.7
3  2019-04-01          76.1            81.0
4  2019-05-01          71.4            88.4
5  2019-06-01          58.6           120.2
6  2019-07-01          79.9            83.5
7  2019-08-01          69.4            73.8
8  2019-09-01          53.9            98.0
9  2019-10-01          80.8            85.1
10 2019-11-01          74.3            94.4
11 2019-12-01          46.4            64.8

In [14]:
table['Date'] = table['Unnamed: 1']
table.drop(columns = 'Unnamed: 1', inplace = True)
table

    Direct Sales  Indirect Sales       Date
0           88.2            82.2 2019-01-01
1           76.3            71.4 2019-02-01
2           47.8            88.7 2019-03-01
3           76.1            81.0 2019-04-01
4           71.4            88.4 2019-05-01
5           58.6           120.2 2019-06-01
6           79.9            83.5 2019-07-01
7           69.4            73.8 2019-08-01
8           53.9            98.0 2019-09-01
9           80.8            85.1 2019-10-01
10          74.3            94.4 2019-11-01
11          46.4            64.8 2019-12-01

![Alt text](\Images\3_4a.png)

![Alt text](\Images\3_4b.png)

![Alt text](\Images\3_4c.png)

![Alt text](\Images\3_4d.png)

![Alt text](\Images\3_4e.png)

![Alt text](\Images\3_4f.png)

![Alt text](\Images\3_4g.png)

![Alt text](\Images\3_4h.png)

![Alt text](\Images\3_4i.png)

![Alt text](\Images\3_4j.png)

![Alt text](\Images\3_4k.png)

![Alt text](\Images\3_4l.png)

![Alt text](\Images\3_4m.png)

![Alt text](\Images\3_4n.png)

![Alt text](\Images\3_4o.png)

![Alt text](\Images\3_4p.png)

![Alt text](\Images\3_4q.png)

![Alt text](\Images\3_4r.png)

![Alt text](\Images\3_4s.png)

![Alt text](\Images\3_4t.png)

![Alt text](\Images\3_4u.png)